.money_box{
    position: absolute;
    width: 114px;
    height: 169px;
    margin-left: -6px;
    left: 1248px;
    display: flex;
    flex-direction: column;
    top: 65px;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.money_item{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #1D1F22;
    list-style: none;
    justify-content: center;
    margin:0px 0px 3px 0px;
    padding: 0;

}

.money_item li{
    margin:0px 0px 4px 0px;
    padding: 0;
    cursor: pointer;
    display: flex;
}