.rect {
    position: absolute;
    width: 1440px;
    height: 1435px;
    left: 0px;
    top: 78px;
    background: rgba(57, 55, 72, 0.22);
}

.minicart {
    position: absolute;
    display: block;
    width: 325px;
    min-height: 535px;
    left: 1028px;
    top: -2px;
    background: #FFFFFF;
}

.minicart_text {
    width: 118px;
    height: 26px;
    left: 1044px;
    top: 86px;
    margin-top: 6px;
    margin-left: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    color: #1D1F22;
}

/*===========================================css from cart================================================*/
.wrapper_items {
    box-sizing: border-box;
    margin-left: 845px;
}

.param {
    position: absolute;
    margin-left: 16px;
    left: 0
}

.param_name {
    margin-top: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1D1F22;

}

.param_price {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    color: #1D1F22;
    flex: none;
    margin-top: 5px;
    margin-bottom: 27px;
}

.wraps {
    margin-left: -660px;
    position: absolute;
    margin-top: 25px;
}

.plus {
    border: 1px solid #1D1F22;
    width: 24px;
    height: 24px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.count_img {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1D1F22;
    margin-top: 30px;
    margin-bottom: 29px;
}

.minus {
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}


.pict {
    width: 141px;
    height: 185px;
    display: flex;
    margin-left: 1057px;

}

.pict img {
    max-height: 137px;
    max-width: 105px;
    margin-top: 25px;
    margin-left: -842px;
}

.vector_left {
    position: absolute;
    border: 2px solid black;
    background: url("../../images/Vector (2).svg");
    width: 6px;
    height: 12px;
    top: 100px;
    left: 980px;
    cursor: pointer;
}

.vector_right {
    position: absolute;
    border: 2px solid #FFFFFF;
    background: url("../../images/Vector (3).svg");
    width: 6px;
    height: 12px;
    top: 100px;
    left: 1100px;
    cursor: pointer;
}

/*========================================*/
.position {
    margin-bottom: 41px;
}

.item_pos {
    left: 929px;
    top: 299px;
    width: 120px;
}

.wrapper_value {
    min-width: 28px;
    min-height: 28px;
    margin-right: 8px;
    display: inline-block;
    /*!*border: 1px solid #1D1F22;*!*/
    /*box-sizing: border-box;*/
    margin-top:5px;
}
.color_choosen {
    height: 28px;
    border: 1px solid black;
    width: 28px;
    opacity: 100%;
}
.colors {
    border: 1px solid black;
    opacity: 50%;
}
.item_value {
    min-width: 28px;
    max-height: 28px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #1D1F22;
    padding: 4px;
}

.item_value_chosen {
    min-width: 28px;
    max-height: 28px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: black;
    padding: 4px;
}